---
layout: default
---
<div class="section da-show da-showgrid"> 

 <header class="da2-da8">
        <h1 class="title"></h1>
       <img src="{{site.url}}assets/polaroid16.png" class="colors" />
  </header> 

  <div class="title3 da3-da10"> Polaroid Land </div>
   <div class="title4 da3-da10"> Camera for Sale </div>
 

  <div id="mainDiv da2-da5"><div class="main-img-container da2-da5" width="100%" height="374px"><img id='mainImage'
            img src="{{site.url}}assets/Polaroid_1.jpg" width="100%" class="border">
  </div>
  </div>

 
    <ul class="list da6"> 
       <li><div class="img-container "><img src="{{site.url}}assets/Polaroid_1.jpg"  width="100%"   /></div></li> 
       <li><div class="img-container "><img src="{{site.url}}assets/Polaroid_2.jpg"  width="100%" height="55px"    /></div></li>
       <li><div class="img-container "> <img src="{{site.url}}assets/Polaroid_6.jpg" width="100%" height="55px"  /></div></li>
       <li><div class="img-container "> <img src="{{site.url}}assets/Polaroid_4.jpg" width="100%" height="55px"   /></div></li>
      <li><div class="img-container "> <img src="{{site.url}}assets/Polaroid_5.jpg" width="100%" height="55px"  /></div></li> 
    </ul>

  <div class="about-blurb da7-da11">
        <h2 class="about-title"> About the Camera </h2>
       <a>
       The 103 land camera was purchased in great used condition in 2001 at Central Camera, Chicago for $75.It is a great starter camera for any Polaroid enthusiast. This sturdy camera has taken many photos and has a hard plastic shell to protect the lens and can easily fit into your backpack or tote.
      </a>


      <div class="questions">
        <h3 class="buy">  Ready to Buy? </h3>
         <br>
         <a> Do you live in Chicago? If so, I can meet you at a coffee shop for local pickup. Otherwise
             click the button below for Paypal payment and I will ship the camera as soon as possible! </a>
      </div>

       <div class="money">
           <button class="btn-2 da7-da8"> $30 </button> 
        </div>
       
       <div class="contact da7-da10">
          <a> Contact me at stanjane@gmail.com with any questions </a>  
        </div>
 
  </div>


 <div class="header2 da2-da6">
   Take Pictures, Carry on the History   

      <div class="specs">
          <h3>Specs</h3>
            <a> This rangefinder camera is all manual focus including 
              a lightening/darkening exposure knob, color and black/white
              button and manual focus. Comes with a camera strap to wear.
            </a>
      </div>

      <div class="condition">
          <h3> Condition </h3>
           <a>  Works great and recently cleaned. The focus lens is a bit 
                cloudy but no trouble focusing. Some minor scratches on case and and body of camera. Polaroid film loads in and out easily.
            </a>
      </div>   

      <div class="film">
          <h3> Compatible Film </h3>
           <a>  Fuji Fuji FP-100c  and any Polaroid Film 100 </a>
      </div> 

       <div class="look"> 
         <h3>Take a Look</h3> 
         <a>  See the possibilites of images taken with this camera.</a>
       </div>


</div>

   

<div id="mainDiv2 da7-da10"><div class="main-img-container2 da7-da10" width="100%"><img id='mainImage2'
            <img src="{{site.url}}assets/flowers.jpg" width="100%" height="450px" />
  </div>
</div>
   <ul class="da11">  
       <li><div class="img-container2 "><img src="{{site.url}}assets/flowers.jpg"  width="100%"   /></div></li>
       <li><div class="img-container2 "> <img src="{{site.url}}assets/flowers2.jpg" width="100%" /></div></li>
       <li><div class="img-container2 "> <img src="{{site.url}}assets/flowers3.jpg" width="100%"  /></div></li>

    </ul>
  

</div>
    
<!--<div class="section t-show t-showgrid"> 
   
       <header class="t-all">
            <h1 class="title"></h1>
            <img src="{{site.url}}assets/polaroid16.png" class="colors" />
      </header> 

      <div class="title3 t1-t4"> Polaroid Land Camera for Sale </div>
     

      <div id="mainDiv t1-t3"><div class="main-img-container t1-t3" width="100%">
        <img id='mainImage'img src="{{site.url}}assets/Polaroid_1.jpg" width="100%" class="border">
      </div>



 
    <ul class="t4"> 
       <li><div class="img-container "><img src="{{site.url}}assets/Polaroid_1.jpg"  width="100%"   /></div></li> 
       <li><div class="img-container "><img src="{{site.url}}assets/Polaroid_2.jpg"  width="100%"   /></div></li>
       <li><div class="img-container "> <img src="{{site.url}}assets/Polaroid_6.jpg" width="100%" /></div></li>
       <li><div class="img-container "> <img src="{{site.url}}assets/Polaroid_4.jpg" width="100%"  /></div></li>
      <li><div class="img-container "> <img src="{{site.url}}assets/Polaroid_5.jpg" width="100%"  /></div></li> 
    </ul>

</div> 
   





 
    
    
  
    

     
         <!--       <aside>
                    <h3>ASIDE</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.</p>
                </aside>
           {% for page in site.pages %}

            {% if page.tag == "show" %}

           <p><a href="{{site.url}}{{page.url}}">{{page.title}}</a></p> 

             {% else if page tag == "hidden" %}

             {% endif %}    

             {% endfor %} 


                    <section>
                   <h2> posts</h2>
                {% for post in site.posts %}


             <p> <a href="{{site.url}}{{post.url}}">{{post.title}}</a> </p>

                    </section> 

                        {% endfor %}       

             </article>   -->

 