---
layout: default
---
    
 <header class="da2-da8">
        <h1 class="title"></h1>
       <img src="{{site.url}}assets/polaroid16.png" class="colors" />
  </header> 

  <div class="title3 da3-da9"> Polaroid Land Camera for Sale </div>
 

  <div id="mainDiv da2-da6"><div class="main-img-container da2-da6" width="100%"><img id='mainImage'
            img src="{{site.url}}assets/Polaroid_1.jpg" width="100%" class="border">
  </div>
  </div>

 
    <ul class="da7">  
       <li><div class="img-container "><img src="{{site.url}}assets/Polaroid_2.jpg"  width="100%"   /></div></li>
       <li><div class="img-container "> <img src="{{site.url}}assets/Polaroid_6.jpg" width="100%" /></div></li>
       <li><div class="img-container "> <img src="{{site.url}}assets/Polaroid_4.jpg" width="100%"  /></div></li>
      <li><div class="img-container "> <img src="{{site.url}}assets/Polaroid_5.jpg" width="100%"  /></div></li> 
    </ul>

  <div class="about-blurb da8-da11">
        <h2 class="about-title"> Looking for a New Camera?  </h2>
       <a>
       This automatic 103 land camera was purchased in great used condition 2001 at Central Camera, Chicago for $75. It is a great starter camera for any Polaroid enthusiast. This sturdy camera has taken many photos and has a hard plastic shell
        to protect the lens and can easily fit into your backpack or tote.
      </a>
      </div>


 <div class="header2 da2-da6">
   Take pictures, carry on the history   

 <div class="specs">
      <h3>Specs</h3>
        <a> This rangefinder camera is all manual focus including 
          a lightening/darkening expousre knob, color and black/white
          button and manual focus. Comes with a camera strap to wear.
        </a>
  </div>

  <div class="condition">
      <h3> Condition </h3>
       <a>  Works great and recently cleaned. The focus lens is a bit 
            cloudy but no trouble focusing. Some minor scratches on case and and body of camera. Polaroid film loads in and out easily.
        </a>
  </div>   

  <div class="film">
      <h3> Compatible Film </h3>
       <a>  Fuji Fuji FP-100c  and any Polaroid Film 100 </a>
  </div> 

   <div class="look"> 
     <h3>Take a Look</h3> 
     <a>  See some of the images that were taken with this camera.</a>
   </div>
 
  </div>

<div id="mainDiv2 da7-da10"><div class="main-img-container2 da7-da10" width="100%"><img id='mainImage2'
            <img src="{{site.url}}assets/flowers.jpg" width="100%" height="450px" />
  </div>
</div>
   <ul class="da11">  
       <li><div class="img-container2 "><img src="{{site.url}}assets/flowers.jpg"  width="100%"   /></div></li>
       <li><div class="img-container2 "> <img src="{{site.url}}assets/flowers2.jpg" width="100%" /></div></li>
       <li><div class="img-container2 "> <img src="{{site.url}}assets/flowers3.jpg" width="100%"  /></div></li>

    </ul>
  
  
   
      <dic class="questions da2-da4">
        <h3>  Ready to Buy? </h3>
         <br>
          <h3> Pay Now </h3>
            <button> $30 </button> 
      </div>

        <div class="pay da2-da4">
         
          </div>
       
    <!--   <a> Contact me @ stanjane@gmail.com with any questions </a>  -->

    

  
   <br>
   <br>
   <br>
   <br>


<!--        <div class="pay da3-da4"> 
          <span class="text"> Pay Now </span>
           <br> <button> $30 </button> </div>
        </div> -->
       
 

 <!--   <div class="arrows da7">
      <img src="{{site.url}}assets/arrowleft.png" width="25px" height="25px">
      <img src="{{site.url}}assets/arrow.png" width="25px" height="25px">
    </div>  -->

 <!--   <p class="caption da8-d10"> 
       Click to see images 
   </p>  -->




<!-- <div class="specs da3-d5">
      <h3>Specs</h3>
       <ul>
        <li> rangefinder </li>
        <br>
        <li> lighten/darken exposure </li>
        <br>
        <li> color/black and white button </li>
        <br> 
        <li> manual focus </li>
       </ul>

    </div>

    <div class="condition da6-da8">
      <h3> Condition </h3>
        <ul>
          <li> works great, recently cleaned </li> <br>
          <li> focus lens is a bit cloudy but no
                trouble focusing </li><br>
          <li> some scratches on case and and body
               of camera </li><br>
          <li> polaroid film load easy and pulls out
             easily</li>
    </div>  
    
    <div class="film da9-da11">
      <h3> Compatible Film </h3>
       <ul>
        <li> Fuji Fuji FP-100c </li>
        <br>
        <li> Polaroid Film 100 </li>
      </ul>

    </div> 
    
    <h2 class=" title4 da3-da10"> Check out images taken with the camera </h2>
    <div class="image2 da4-da9">
            <img src="{{site.url}}assets/IMG_2045.JPG" width="520px" height="350px" class="border">
    </div> 

    <div class="arrows2 da4">
      <img src="{{site.url}}assets/arrowleft.png" width="25px" height="25px">
      <img src="{{site.url}}assets/arrow.png" width="25px" height="25px">
    </div>  

    <p class="caption2 da5-da7"> 
       Click to see images 
   </p>

   

        <h2 class="title5 da4-da9"> Contact </h2>
    
      <div class="box da4-da9">
          <form class="form">
          
          <label><h4 class="first">First name</h4><input type="text" name="firstname" />  </label>
          <label><h4 class="last">Last name</h4><input type="text" name="lastname" />  </label>
          <label><h4 class="email">Email</h4><input type="text" name="email" />  </label>
          <span class="btn1"> <button class="sub">Submit</button> </span>

          </form>
      </div>
    

 
    
    
  
    

     
         <!--       <aside>
                    <h3>ASIDE</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.</p>
                </aside>
           {% for page in site.pages %}

            {% if page.tag == "show" %}

           <p><a href="{{site.url}}{{page.url}}">{{page.title}}</a></p> 

             {% else if page tag == "hidden" %}

             {% endif %}    

             {% endfor %} 


                    <section>
                   <h2> posts</h2>
                {% for post in site.posts %}


             <p> <a href="{{site.url}}{{post.url}}">{{post.title}}</a> </p>

                    </section> 

                        {% endfor %}       

             </article>   -->

 